*{
    box-sizing: border-box;
    padding: 0;
    text-decoration: none;
    list-style: none;
    margin: 0;
}


body{
    background-color:#272B62;
    display: flex;
    justify-content: center;
    align-items: center;
}

#app{
    width: 300px;
    height: 300px;
    border: 3px solid #fff;
    border-radius: 14px;
    background-color: darkseagreen;
}

#tests{
    position: absolute;
    top: 0;
    left: 0;
}

.movie{
    margin-right: 40px;
}

#app input{
    width: 100%;
    height: 40px;
}

body > h1{
    position: absolute;
    top: 70px;
    left: 35%;
    color: #fff;
}

#app button{
    width: 100%;
    height: 30px;
}